
*.vsidx
*.cache
*.dll
*.xml
*.rsp
*.pdb
*.cache
*.suo
.vs/WebApplicationOrders/v17/.suo
.vs/WebApplicationOrders/FileContentIndex
.vs/WebApplicationOrders/config
.vs/WebApplicationOrders/v16/.suo
*.pdb
*.dll
*.pdb
*.dll
*.cache
*.pdb
*.cache
*.dll
*.pdb
*.dll
*.pdb
*.cache
*.cache
*.dll
*.pdb
*.pdb
*.cache
*.dll
*.pdb
*.dll
*.pdb
*.dll
*.cache
*.pdb
*.pdb
*.cache
*.cache
*.pdb
*.dll
*.pdb
*.dll
*.pdb
*.dll
*.pdb
*.pdb
*.cache
*.dll
*.pdb
*.xml
*.xml
*.xml
*.xml
*.xml
*.cache
*.pdb
.vs
WebApplicationHamtOrders/bin/*.dll
WebApplicationHamtOrders/obj/Debug/*.csproj.AssemblyReference.cache
WebApplicationHamtOrders/bin/
WebApplicationHamtOrders/obj/
WebApplicationNewOrders/bin/*.dll
WebApplicationNewOrders/obj/Debug/*.csproj.AssemblyReference.cache
WebApplicationNewOrders/bin/
WebApplicationNewOrders/obj/
WebApplicationOrders/bin/*.dll
WebApplicationOrders/obj/Debug/*.csproj.AssemblyReference.cache
WebApplicationOrders/bin/
WebApplicationOrders/obj/
WebApplicationOrders.Tests/bin/*.dll
WebApplicationOrders.Tests/obj/Debug/*.csproj.AssemblyReference.cache
WebApplicationOrders.Tests/bin/
WebApplicationOrders.Tests/obj/
ApplicationOrders/bin/*.dll
ApplicationOrders/obj/Debug/*.csproj.AssemblyReference.cache
ApplicationOrders/bin/
ApplicationOrders/obj/

