@using OrdersGeneral.Repository.General


@{
    ViewBag.Title = "دسته بندی بلاگ ها|CategoryOfBlogs";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}


<section class="content-header">
    <h1>
        داشبورد
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-info">
                <div class="box-header with-border ui-sortable-handle" style="cursor: move;">
                    <h3 class="box-title">دسته بندی بلاگ ها</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="container-fluid">
                        <a href="/BlogCategoriesManagement/Add" class="btn btn-success btn-block"> افزودن &nbsp;<i class="fa fa-plus"></i></a>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">



                            <table class="table no-margin">
                                <thead>
                                    <tr>

                                        <th>
                                            ردیف
                                        </th>
                                        <th>
                                            کد
                                        </th>
                                        <th>
                                            عنوان اول
                                        </th>
                                        <th>
                                            ترتیب
                                        </th>
                                        <th>
                                            گروه اصلی
                                        </th>

                                        <th>
                                            وضعیت
                                        </th>
                                        <th>ویرایش</th>
                                        <th>حذف</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var category = RepBlog.RepositoryBlogCategoryManagment();
                                        if (category.Count > 0)

                                        {
                                            var row = 1;
                                            foreach (var mangment in category)
                                            {
                                                <tr>

                                                    <td class="col-md-1">
                                                        @row
                                                    </td>
                                                    <td class="col-md-1 copy">
                                                        @mangment.Code
                                                    </td>

                                                    <td class="col-md-3 copy" style="font-size: 12px;">
                                                        @mangment.PrimaryTitle
                                                    </td>
                                                    <td class="col-md-2">
                                                        <a>@mangment.Sort </a>
                                                    </td>
                                                    <td class="col-md-3" style="font-size: 12px;">
                                                        @if (mangment.IsMain)
                                                        {
                                                            <span class="text-success">
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="text-danger">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </span>
                                                        }

                                                    </td>

                                                    <td class="col-md-1">
                                                        @if (@mangment.IsOk)
                                                        {
                                                            <a href="/BlogCategoriesManagement/ChangeBlogStatus/@mangment.Id" class="btn btn-success">فعال</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="/BlogCategoriesManagement/ChangeBlogStatus/@mangment.Id" class="btn btn-danger">غیرفعال</a>
                                                        }
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-info btn-sm glyphicon glyphicon-edit" href="/BlogCategoriesManagement/Edit/@mangment.Id"></a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-danger btn-sm " href="/BlogCategoriesManagement/Delete/@mangment.Id">×</a>
                                                    </td>
                                                </tr>
                                                row++;

                                            }

                                        }




                                    }



                                </tbody>
                            </table>





                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var color = document.querySelectorAll('.copy') //DOM selector

    //Loop through all elements and attaching event listener
    color.forEach(el => {
        el.addEventListener('click', copyText);
    });

    // function for selecting the text of an element based on the event.target (supporting IE)
    function selectText() {
        var element = event.target
        var range;
        if (document.selection) {
            // IE
            range = document.body.createTextRange();
            range.moveToElementText(element);
            range.select();
        } else if (window.getSelection) {
            range = document.createRange();
            range.selectNode(element);
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
        }
    }

    // function for copying selected text in clipboard
    function copyText() {
        selectText();
        alert('متن مورد نظر کپی شد');
        document.execCommand("copy");
    }
</script>