
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <a href="#">لورم</a> &copy; 2015-2016
    </div>
    <div class="pull-left">
        <ul class="social list-unstyled list-inline" itemscope itemtype="http://schema.org/Organization">
            <li><a itemprop="sameAs" target="_blank" href="//www.facebook.com/#" title="# facebook fanpage"><i class="fab fa-facebook-f"></i><span class="sr-only">صفحه فیسبوک </span></a></li>
            <li><a itemprop="sameAs" target="_blank" href="//twitter.com/#"><i class="fab fa-twitter" title="# twitter"></i><span class="sr-only">توئیتر </span></a></li>
            <li><a itemprop="sameAs" target="_blank" href="//www.google.com/#" rel="publisher" title="# google plus"><i class="fab fa-google-plus-g"></i><span class="sr-only">گوگل پلاس </span></a></li>
            <li><a itemprop="sameAs" target="_blank" href="//www.linkedin.com/company/#" title="# linkedin page"><i class="fab fa-linkedin-in"></i><span class="sr-only">لینکداین </span></a></li>
            <li><a itemprop="sameAs" target="_blank" href="//instagram.com/#?ref=badge" title="# instagram"><i class="fab fa-instagram"></i><span class="sr-only">اینستاگرام </span></a></li>
            <li><a target="_blank" href="#" title="# feed"><i class="fa fa-rss"></i><span class="sr-only">اشتراک فید </span></a></li>
            <li class="hidden"><a itemprop="url" href="https://#/">لورم</a></li>
        </ul>
    </div>
</footer>