@using OrdersGeneral.Repository.General
@using OrdersSettings.Repository.Settings


<ul class="h-100 d-flex align-items-center justify-content-between ps-0" dir="rtl">
    <li class="active">
        <a href="/Default">
            <img src="~/Static/Content/Icons/home_100px.png" width="30px" alt="Home"/> <span>خانه</span>
        </a>
    </li>
    <li>
        <a href="/Product">

            <img src="~/Static/Content/Icons/barcode_reader_100px.png" width="30px" alt="Products"/><span>محصولات</span>
        </a>
    </li>
    <li>
        <a href="/Carts">
            <img src="~/Static/Content/Icons/basket_100px.png" width="30px" alt="basket"/><span>سبد خرید</span>
        </a>
    </li>

    
    <li>
        <a href="/Login">
            <img src="~/Static/Content/Icons/account_100px.png" width="30px" alt="account"/><span>حساب کاربری</span>
        </a>
    </li>


</ul>