
@using OrdersSettings.Repository.Settings

<div class="container direction-rtl">
    <!-- # Paste your Header Content from here -->
    <!-- # Header Five Layout -->
    <!-- # Copy the code from here ... -->
    <!-- Header Content -->
    <div class="header-content header-style-five position-relative d-flex align-items-center justify-content-between">
        <!-- Navbar Toggler -->
        <div class="navbar--toggler direction-rtl" id="affanNavbarToggler" data-bs-toggle="offcanvas" data-bs-target="#affanOffcanvas" aria-controls="affanOffcanvas"><span class="d-block"></span><span class="d-block"></span><span class="d-block"></span></div>
        <!-- Logo Wrapper -->
        <div class="logo-wrapper direction-rtl">

            @{

                var logomin = Repfooter.RepInformationFooter();
                if (logomin.Count > 0)
                {
                    foreach (var item in logomin)
                    {
                        <a href="/Default">
                            <img src="@item.FileName2" alt="@item.PrimaryTitle" />
                        </a>
                    }
                }
            }

        </div>
    </div>
    <!-- # Header Five Layout End -->
</div>