@using OrdersOrders.Repository.Orders


@{
    ViewBag.Title = "تغییر رمز";
    Layout = "~/Views/Layouts/_MainLayouts.cshtml";
}
@{
    Session["BackUrl"] = "/Dashboard";
}


<div class="page-content-wrapper py-3">
    <div class="container">
        <!-- Login Wrapper Area -->
        @{
            if (User.Identity.IsAuthenticated)
            {

                <div class="text-center px-4"><img class="login-intro-img" src="/Helper/Layouts/img/bg-img/36.png" alt="login-intro-img"></div>
                <!-- Register Form -->
                <div class="register-form mt-4" dir="rtl">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            var id = Guid.Parse(User.Identity.Name);
                            var result = RepAccountDashboard.RepAccountDashboardInformation(id);
                            foreach (var mangment in result)
                            {
                                using (Html.BeginForm("ChangePassword", "Dashboard", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                    <input type="hidden" id="id" name="id" value="@mangment.Id" />

                                    <div class="form-group text-start mb-3">
                                        <input class="form-control" type="text" id="olpassword" name="olpassword" placeholder="رمز قبلی" value="@mangment.Password">
                                    </div>
                                    <div class="form-group text-start mb-3 position-relative">
                                        <input class="form-control" type="text" id="newpassword" name="newpassword" placeholder="رمز جدید">
                                        <div class="position-absolute" id="password-visibility"></div>
                                    </div>
                                    <div class="mb-3" id="pswmeter"></div>
                                    <div class="form-group text-start mb-3">
                                        <input class="form-control" type="text" id="trynewpassword" name="trynewpassword" placeholder="تکرار رمز">
                                    </div>
                                    <button class="btn btn-primary w-100">ذخیره</button>
                                }
                            }
                        }
                    }
                </div>
            }
        }


    </div>
</div>
<!-- All JavaScript Files -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/internet-status.js"></script>
<script src="js/dark-rtl.js"></script>
<!-- Password Strenght -->
<script src="js/pswmeter.js"></script>
<script src="js/active.js"></script>
<!-- PWA -->
<script src="js/pwa.js"></script>