
@{
    ViewBag.Title = "نتیجه|Result";
    Layout = "~/Views/Layouts/_MainLayouts.cshtml";
}

<div class="empty-box empty-box--404">
    <div class="message mb-5">
        @{
            if (Session["Result"] != null)
            {
                var message = Session["Success"].ToString();
                if (message.Contains("Error"))
                {
                    <p class="text-muted mb-5">
                        <i class="fas fa-times"></i>
                        خطایی رخ داده است پیام شما ثبت نگردید!
                    </p>
                }
                else
                {
                    <p class="text-muted mb-5">
                        <i class="fas fa-check"></i>
                        پیام شما  <span class="order-code">@Session["Result"].ToString()</span>  با موفقیت ثبت گردید.!
                    </p>
                }
            }
        }


        <div class="form-element-row">
            <a href="/Default" class="btn-element btn-info-element py-3">
                <i class="fad fa-undo"></i>
                بازگشت به صفحه اصلی
            </a>
        </div>
    </div>
</div>

