
@*<div class="site-footer__copyright">ارائه شده توسط <a href="https://sepidyarhesab.com"> شرکت سپیدیارحساب آراد </a></div>*@
<div class="site-footer__copyright">ارائه شده توسط <a href="https://sepidyarhesab.com"> شرکت سپیدیارحساب آراد </a></div>
<div class="site-footer__payments"><img src="/Helper/Layouts/Images/payments.png" alt="payments"></div>