@using SepidyarHesabExtensions.Classes
@using OrdersGeneral.Repository.General

@{
    ViewBag.Title = "افزودن کاربر جدید";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}

<section class="content-header">
    <h2>داشبورد</h2>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-12 connectedSortable">
                <div class="box box-info">
                    @using (Html.BeginForm("Generate", "UserManagement", FormMethod.Post))
                    {
                        // // //var random = SepidyarHesabCodeGenerator.GenerateCode("","");
                        @Html.AntiForgeryToken()
                        <div class="box-header">
                            <i class="fa fa-envelope"></i>
                            <h3 class="box-title">افزودن کاربر جدید</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-horizontal">

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Code">کد</label>
                                    <div class="col-md-4">
                                        <input class="form-control text-box single-line" disabled="disabled" id="Code" name="Code" placeholder="کد" type="text"  />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>

                                    <label class="control-label col-md-2" for="PrimaryTitle">نام</label>
                                    <div class="col-md-4">
                                        <input class="form-control text-box single-line" id="Name" name="Name" placeholder="نام کاربر " type="text" value="" onfocusout="checkinput()" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>
                                    <hr />

                                    <label class="control-label col-md-2" for="PrimaryTitle">نام خانوادگی </label>
                                    <div class="col-md-4">
                                        <input class="form-control text-box single-line" id="Family" name="Family" placeholder=" نام خانوادگی" type="text" value="" onfocusout="checkinput()" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>

                                    <div>
                                        <label class="control-label col-md-2" for="Sex">جنسیت </label>
                                        <div class=" col-md-4">
                                            <select class="form-control " id="Sex" name="Sex" onfocusout="checkinput()">
                                                <option value="True" id="Sex">آقا</option>
                                                <option value="False" id="Sex">خانم</option>
                                            </select>
                                            <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div>
                                        <label class="control-label col-md-2" for="Phone">شماره تلفن</label>
                                        <div class="col-md-4">
                                            <input class="form-control text-box single-line" id="Phone" name="Phone" placeholder="شماره تلفن" type="number" value="" onfocusout="checkinput()" />
                                            <p class="help-block">شماره تلفن به عنوان نام کاربری محسوب می شود.</p>
                                            <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <label class="control-label col-md-2" for="Password">رمز عبور</label>
                                    <div class="col-md-4">
                                        <input class="form-control text-box single-line" id="Password" name="Password" placeholder="رمز عبور" type="text" value="" onfocusout="checkinput()" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>
                                    <hr />

                                </div>

                            </div>


                        </div>
                        <div class="box-footer clearfix">
                            <div class="col-md-12 col-md-offset-9">

                                <button type="submit" class="btn btn-labeled bg-green-active" id="Submit"> <i class="fa fa-check-square"></i> ذخیره</button>
                                <a href="/UserManagement/index" class="btn btn-labeled bg-red-active"> <i class="fa fa-close"></i> بازگشت</a>
                            </div>
                        </div>
                    }

                </div>


            </div>
        </div>
    </div>
</section>

<script>
    function checkinput() {
        var _name = document.getElementById("Name");
        var _family = document.getElementById("Family");
        var _sex = document.getElementById("Sex");
        var _phone = document.getElementById("Phone");
        var _password = document.getElementById("Password");
        var _submit = document.getElementById("Submit");
        if (_name.value.length === 0) {
            iziToast.error({
                title: name + ' نام را وارد کنید ',
                rtl: true,
                position: 'topLeft'
            });
            _name.style.borderColor = "red";
            _submit.disabled = true;
        } else {
            _name.style.borderColor = "green";
            _submit.disabled = false;
            if (_family.value.length === 0) {
                iziToast.error({
                    title: name + ' نام خانوادگی را وارد کنید ',
                    rtl: true,
                    position: 'topLeft'
                });
                _family.style.borderColor = "red";
                _submit.disabled = true;
            } else {
                _family.style.borderColor = "green";
                _submit.disabled = false;
            }
            if (_sex.value.length === 0) {
                iziToast.error({
                    title: name + ' جنس را وارد کنید ',
                    rtl: true,
                    position: 'topLeft'
                });
                _sex.style.borderColor = "red";
                _submit.disabled = true;
            } else {
                _sex.style.borderColor = "green";
                _submit.disabled = false;
            }
            if (_phone.value.length === 0) {
                iziToast.error({
                    title: name + ' تلفن را وارد کنید ',
                    rtl: true,
                    position: 'topLeft'
                });
                _phone.style.borderColor = "red";
                _submit.disabled = true;
            } else {
                _phone.style.borderColor = "green";
                _submit.disabled = false;
            }
            if (_password.value.length === 0) {
                iziToast.error({
                    title: name + ' رمز را وارد کنید ',
                    rtl: true,
                    position: 'topLeft'
                });
                _password.style.borderColor = "red";
                _submit.disabled = true;
            } else {
                _password.style.borderColor = "green";
                _submit.disabled = false;
            }
            
        }

    }
</script>