
@{
    ViewBag.Title = "افزودن درباره ما|AddAboutUs";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}

<section class="content-header">
    <h2>داشبورد</h2>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-12 connectedSortable">
                <div class="box box-info">
                    @using (Html.BeginForm("Generate", "Knowing", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="box-header">
                            <i class="fa fa-envelope"></i>
                            <h3 class="box-title">افزودن درباره ما</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="PrimaryTitle">عنوان اصلی</label>
                                    <div class="col-md-4">
                                        <input class="form-control text-box single-line" id="PrimaryTitle" name="PrimaryTitle" placeholder="عنوان اصلی" type="text" value="" onfocusout="checkinput()" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>

                                    <label class="control-label col-md-2" for="Url">لینک</label>
                                    <div class="col-md-4">
                                        <input class="form-control text-box single-line" id="Url" name="Url" placeholder="لینک" type="text" value="" onfocusout="checkinputslider()" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Title">عکس </label>
                                    <div class="col-md-4">
                                        <input class="form-control text-box single-line" id="FileName" name="FileName" placeholder="" type="file" value="" onfocusout="checkinputslider()" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>

                                    <label class="control-label col-md-2" for="Sort">شماره مرتب سازی</label>
                                    <div class="col-md-4">
                                        <input class="form-control text-box single-line" id="Sort" name="Sort" placeholder="شماره مرتب سازی" type="number" onkeypress="return isNumberKey(event)" value="" pattern="\D" onfocusout="checkinputmenu()" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-2" for="SecondaryTitle">توضیحات</label>
                                    <div class="col-md-10">
                                        <textarea class="editor form-control text-box single-line" id="SecondaryTitle" name="SecondaryTitle" placeholder="توضیحات" type="text" value=""></textarea>
                                        <script>
                                            CKEDITOR.replace("SecondaryTitle");
                                        </script>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <div class="col-md-12 col-md-offset-9">
                                <button type="submit" class="btn btn-labeled bg-green-active" id="Submit"> <i class="fa fa-check-square"></i> ذخیره</button>
                                <a href="/knowing/AboutUs" class="btn btn-labeled bg-red-active"> <i class="fa fa-close"></i> بازگشت</a>
                            </div>
                        </div>
                    }

                </div>
            </div>


        </div>
    </div>
</section>
<script src="~/Helper/Admin/Scripts/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('.editor'), {
            licenseKey: '',
        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(error => {
            console.error('Oops, something went wrong!');
            console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
            console.warn('Build id: snrhjmuf85mi-mfhkwsrvxudc');
            console.error(error);
        });
</script>
