
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 200;
    src: url(/Helper/Layouts/fonts/dana-fanum-thin.eot);
    src: url(/Helper/Layouts/fonts/dana-fanum-thin.eot) format("embedded-opentype"),url(/Helper/Layouts/fonts/dana-fanum-thin.woff2) format("woff2"),url(/Helper/Layouts/fonts/dana-fanum-thin.woff) format("woff")
}

@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 300;
    src: url(/Helper/Layouts/fonts/dana-fanum-regular.eot);
    src: url(/Helper/Layouts/fonts/dana-fanum-regular.eot) format("embedded-opentype"),url(/Helper/Layouts/fonts/dana-fanum-regular.woff2) format("woff2"),url(/Helper/Layouts/fonts/dana-fanum-regular.woff2) format("woff")
}

@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 500;
    src: url(/Helper/Layouts/fonts/dana-fanum-regular.eot);
    src: url(/Helper/Layouts/fonts/dana-fanum-regular.eot) format("embedded-opentype"),url(/Helper/Layouts/fonts/dana-fanum-regular.woff2) format("woff2"),url(/Helper/Layouts/fonts/dana-fanum-regular.woff2) format("woff")
}

@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 600;
    src: url(/Helper/Layouts/fonts/dana-fanum-regular.eot);
    src: url(/Helper/Layouts/fonts/dana-fanum-regular.eot) format("embedded-opentype"),url(/Helper/Layouts/fonts/dana-fanum-regular.woff2) format("woff2"),url(/Helper/Layouts/fonts/dana-fanum-regular.woff2) format("woff")
}

@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 750;
    src: url(/Helper/Layouts/fonts/dana-fanum-medium.eot);
    src: url(/Helper/Layouts/fonts/dana-fanum-medium.eot?#iefix) format("embedded-opentype"),url(/Helper/Layouts/fonts/dana-fanum-medium.woff2) format("woff2"),url(/Helper/Layouts/fonts/dana-fanum-medium.woff) format("woff")
}

@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 800;
    src: url(/Helper/Layouts/fonts/dana-fanum-medium.eot);
    src: url(/Helper/Layouts/fonts/dana-fanum-medium.eot?#iefix) format("embedded-opentype"),url(/Helper/Layouts/fonts/dana-fanum-medium.woff2) format("woff2"),url(/Helper/Layouts/fonts/dana-fanum-medium.woff) format("woff")
}

@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 900;
    src: url(/Helper/Layouts/fonts/dana-fanum-medium.eot);
    src: url(/Helper/Layouts/fonts/dana-fanum-medium.eot?#iefix) format("embedded-opentype"),url(/Helper/Layouts/fonts/dana-fanum-medium.woff2) format("woff2"),url(/Helper/Layouts/fonts/dana-fanum-medium.woff) format("woff")
}

@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 700;
    src: url(/Helper/Layouts/fonts/dana-fanum-regular.eot);
    src: url(/Helper/Layouts/fonts/dana-fanum-regular.eot) format("embedded-opentype"),url(/Helper/Layouts/fonts/dana-fanum-regular.woff2) format("woff2"),url(/Helper/Layouts/fonts/dana-fanum-regular.woff2) format("woff")
}

@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 400;
    src: url(/Helper/Layouts/fonts/dana-fanum-regular.eot);
    src: url(/Helper/Layouts/fonts/dana-fanum-regular.eot) format("embedded-opentype"),url(/Helper/Layouts/fonts/dana-fanum-regular.woff2) format("woff2"),url(/Helper/Layouts/fonts/dana-fanum-regular.woff2) format("woff")
}

@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: 100;
    src: url(/Helper/Layouts/fonts/dana-fanum-regular.eot);
    src: url(/Helper/Layouts/fonts/dana-fanum-regular.eot) format("embedded-opentype"),url(/Helper/Layouts/fonts/dana-fanum-regular.woff2) format("woff2"),url(/Helper/Layouts/fonts/dana-fanum-regular.woff2) format("woff")
}

@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: 200;
    src: url(/fonts/dana-fanum-extralightitalic.eot?83ff4da67cc6e0be475dd124b914df0d);
    src: url(/fonts/dana-fanum-extralightitalic.eot?83ff4da67cc6e0be475dd124b914df0d?#iefix) format("embedded-opentype"),url(/fonts/dana-fanum-extralightitalic.woff2?94d1d06cda47ef0ebb8fbcccf5404db3) format("woff2"),url(/fonts/dana-fanum-extralightitalic.woff?e6d3f121a9d533e1f4fbbf2572a519bb) format("woff")
}

@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: 300;
    src: url(/fonts/dana-fanum-lightitalic.eot?2307d96267c202a0dec198d0251a7ffc);
    src: url(/fonts/dana-fanum-lightitalic.eot?2307d96267c202a0dec198d0251a7ffc?#iefix) format("embedded-opentype"),url(/fonts/dana-fanum-lightitalic.woff2?385e877e2ad257fdba079e35e511fda5) format("woff2"),url(/fonts/dana-fanum-lightitalic.woff?9e61452e71fd1b28ae830a5c00d34716) format("woff")
}

@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: 500;
    src: url(/fonts/dana-fanum-mediumitalic.eot?053008346df0734d5d963a27acceb901);
    src: url(/fonts/dana-fanum-mediumitalic.eot?053008346df0734d5d963a27acceb901?#iefix) format("embedded-opentype"),url(/fonts/dana-fanum-mediumitalic.woff2?f2ae4ea11d73e9d08f51b466702309f3) format("woff2"),url(/fonts/dana-fanum-mediumitalic.woff?e9712b8f40c2260c35c64232e1692fb5) format("woff")
}

@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: 600;
    src: url(/fonts/dana-fanum-demibolditalic.eot?4aa251979b59ebfbb07c29c6997b0f17);
    src: url(/fonts/dana-fanum-demibolditalic.eot?4aa251979b59ebfbb07c29c6997b0f17?#iefix) format("embedded-opentype"),url(/fonts/dana-fanum-demibolditalic.woff2?99c03e5e952cdf244a467921eade6c1c) format("woff2"),url(/fonts/dana-fanum-demibolditalic.woff?d0dd54d9e5bf3bd16e9104c6401bf179) format("woff")
}

@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: 750;
    src: url(/fonts/dana-fanum-ultrabolditalic.eot?01a36a9eb15b74af0b990233244b2bb6);
    src: url(/fonts/dana-fanum-ultrabolditalic.eot?01a36a9eb15b74af0b990233244b2bb6?#iefix) format("embedded-opentype"),url(/fonts/dana-fanum-ultrabolditalic.woff2?20c084dc09f83c02913fb34491f81898) format("woff2"),url(/fonts/dana-fanum-ultrabolditalic.woff?60e884c7e8166e329995bc9bebf9880c) format("woff")
}

@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: 800;
    src: url(/fonts/dana-fanum-extrabolditalic.eot?28cabfa9cd123023cc94b968cbde0525);
    src: url(/fonts/dana-fanum-extrabolditalic.eot?28cabfa9cd123023cc94b968cbde0525?#iefix) format("embedded-opentype"),url(/fonts/dana-fanum-extrabolditalic.woff2?eca522157c0a27cb041dbccdb9039a9a) format("woff2"),url(/fonts/dana-fanum-extrabolditalic.woff?3fb896a24a1a6e4fa94f48b4bdd83099) format("woff")
}

@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: 900;
    src: url(/fonts/dana-fanum-blackitalic.eot?7ef03687b8131c2e96f0ef49fdf86789);
    src: url(/fonts/dana-fanum-blackitalic.eot?7ef03687b8131c2e96f0ef49fdf86789?#iefix) format("embedded-opentype"),url(/fonts/dana-fanum-blackitalic.woff2?2a46451dd7b9a4347c520641d171233c) format("woff2"),url(/fonts/dana-fanum-blackitalic.woff?4993a715475f40255fb11447b34b0bea) format("woff")
}

@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: 700;
    src: url(/fonts/dana-fanum-bolditalic.eot?6cd71f462fa6c3f597639e09e4cb3de8);
    src: url(/fonts/dana-fanum-bolditalic.eot?6cd71f462fa6c3f597639e09e4cb3de8?#iefix) format("embedded-opentype"),url(/fonts/dana-fanum-bolditalic.woff2?b3e74c63efdb6ed074a2032cb51f5b86) format("woff2"),url(/fonts/dana-fanum-bolditalic.woff?7a1c5b4853ed6261d2978a12f4e9a5a3) format("woff")
}

@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: 400;
    src: url(/fonts/dana-fanum-regularitalic.eot?1006aaed2e88dc7f0b6ddf4b4bd3d4b9);
    src: url(/fonts/dana-fanum-regularitalic.eot?1006aaed2e88dc7f0b6ddf4b4bd3d4b9?#iefix) format("embedded-opentype"),url(/fonts/dana-fanum-regularitalic.woff2?c15200560e49841c96263d26985f4c30) format("woff2"),url(/fonts/dana-fanum-regularitalic.woff?494fa3d20b2996a71da3c951a019140c) format("woff")
}

@font-face {
    font-family: Righteous;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Righteous-Regular.ttf?fd0110471f2228c1808a75b977150a0a)
}

