<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebApplicationHamtOrders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--Mellat-->
    <!--Mellat-->
    <add key="PgwSite" value="https://bpm.shaparak.ir/pgwchannel/startpay.mellat" />
    <add key="TerminalId" value="6576384" />
    <add key="UserName" value="paeezan1401" />
    <add key="UserPassword" value="35786346" />
    <add key="CallBackUrl" value="https://paeezan.shop/VerficationMellatPayment" />
    <add key="BPService.Refrence" value="https://bpm.shaparak.ir/pgwchannel/startpay.mellat" />
    <!--Mellat-->
    <!--Mellat-->
    <!--Saman-->
    <add key="Saman" value="https://acquirer.sb24.com/CardServices/controller" />
    <add key="MID" value="13039932" />
    <add key="UrlRedirection" value="https://dgross.ir/VerficationRefahPayment" />
    <!--Saman-->
    <!--Saman-->
    <!--Saman-->
    <add key="UpdateUrl" value="https://dl.sepidyarhesab.com/Orders/Application/SP_Application_" />
    <add key="AppVersion" value="1.0.9.3" />
    <add key="DataVersion" value="1.0.9.3" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MerchantID" value="" />
    <add key="CallbackURL" value="https://www.paeezan.shop/VerficationPayment" />
    <add key="WebUrl" value="paeezan.shop" />
    <add key="PhoneAdmin" value="09337971495" />
    <add key="AddressAdmin" value="قزوین" />
    <add key="PageAdmin" value="https://instagram.com/paeezan.shopp" />
    <add key="CompanyName" value="فروشگاه اینترنتی پاییزان" />
    <add key="PaymentMethod" value="Saman" />
    <add key="TransferFree" value="300000" />
    <add key="CodeSpell" value="PS" />
    <add key="CallWhatsAppText" value="پشتیبانی و ثبت سفارش" />
    <add key="Connection" value="data source=.;initial catalog=Pachin_Main_db;persist security info=True;user id=damavand;password=damavand;" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.6.1" />
    <authentication mode="Forms">
      <forms name="WebApplicationOrders" defaultUrl="/" timeout="43200" loginUrl="/Login" slidingExpiration="true" />
    </authentication>
    <roleManager enabled="true" defaultProvider="MyProviders">
      <providers>
        <clear />
        <add name="MyProviders" type="OrdersExtentions.Extensions.MyProviders" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" timeout="43200" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="DBCS" connectionString="data source=;initial catalog=InsuranceSample;user id=;password=;MultipleActiveResultSets=True;" />
    <add name="Orders_Entities" connectionString="metadata=res://*/Models.OrdersData.csdl|res://*/Models.OrdersData.ssdl|res://*/Models.OrdersData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Paeezan_db;persist security info=True;user id=damavand;password=damavand;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <WebApplicationHamtOrders.Properties.Settings>
      <setting name="WebApplicationHamtOrders_Sep_InitPayment_PaymentIFBinding" serializeAs="String">
        <value>https://sep.shaparak.ir/payments/initpayment.asmx</value>
      </setting>
      <setting name="WebApplicationHamtOrders_Sep_RefrencePayment_PaymentIFBinding" serializeAs="String">
        <value>https://sep.shaparak.ir/payments/referencepayment.asmx</value>
      </setting>
    </WebApplicationHamtOrders.Properties.Settings>
  </applicationSettings>
</configuration>