
@{
    ViewBag.Title = "افزودن اسلایدر جدید|AddNewSlider";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}



<section class="content-header">
    <h2>داشبورد</h2>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-12 connectedSortable">
                <div class="box box-info">
                    @using (Html.BeginForm("Generate", "SlidersManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="box-header">
                            <i class="fa fa-envelope"></i>
                            <h3 class="box-title">افزودن اسلایدر جدید</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="PrimaryTitle">نام اسلایدر</label>
                                    <div class="col-md-4">
                                        <input class="form-control text-box single-line" id="PrimaryTitle" name="PrimaryTitle" placeholder="عنوان اصلی" type="text" value="" onfocusout="checkinput()" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>


                                    <label class="control-label col-md-2" for="SecendaryTitle">عنوان اسلایدر دوم</label>
                                    <div class="col-md-4">
                                        <input class="form-control text-box single-line" id="SecendaryTitle" name="SecendaryTitle" placeholder="عنوان اصلی" type="text" value="" onfocusout="checkinputslider()"/>
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Title">وضعیت</label>
                                    <div class="col-md-4">
                                        <select class="form-control" id="IsOk" name="IsOk" onfocusout="checkinputslider()">
                                            <option selected="selected" value="1">فعال</option>
                                            <option value="0">غیر فعال</option>

                                        </select>
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Section" data-valmsg-replace="true"></span>
                                    </div>
                                    <label class="control-label col-md-2" for="Url">لینک</label>
                                    <div class="col-md-4">
                                        <input class="form-control text-box single-line" id="Url" name="Url" placeholder="لینک" type="text" value="" onfocusout="checkinputslider()" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>
                                  

                                </div>
                                
                                
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Title">عکس کامپیوتر</label>
                                    <div class="col-md-4">
                                        <input class="form-control text-box single-line" id="FileNameDesktop" name="FileNameDesktop" placeholder="عنوان اصلی" type="file" value="" onfocusout="checkinputslider()"/>
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>
                                    <label class="control-label col-md-2" for="Title">عکس موبایل</label>
                                    <div class="col-md-4">
                                        <input class="form-control text-box single-line" id="FileNameMobile" name="FileNameMobile" placeholder="عنوان اصلی" type="file" value="" onfocusout="checkinputslider()" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Sort">شماره مرتب سازی</label>
                                    <div class="col-md-4">
                                        <input class="form-control text-box single-line" id="Sort" name="Sort" placeholder="شماره مرتب سازی" type="number" onkeypress="return isNumberKey(event)" value="" pattern="\D" onfocusout="checkinputmenu()" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <div class="col-md-12 col-md-offset-9">
                                <button type="submit" class="btn btn-labeled bg-green-active" id="Submit"> <i class="fa fa-check-square"></i> ذخیره</button>
                                <a href="/SlidersManagement/Index" class="btn btn-labeled bg-red-active"> <i class="fa fa-close"></i> بازگشت</a>
                            </div>
                        </div>
                    }

                </div>
            </div>


        </div>
    </div>
</section>
<script>
    function checkinputslider() {
        var _PrimaryTitle = document.getElementById("PrimaryTitle");
        var _SecendaryTitle = document.getElementById("SecendaryTitle");
        var _IsOk = document.getElementById("IsOk");
        var _Url = document.getElementById("Url");
        var _FileNameDesktop = document.getElementById("FileNameDesktop");
        var _FileNameMobile = document.getElementById("FileNameMobile");
        var _submit = document.getElementById("Submit");
        if (_PrimaryTitle.value.length === 0) {
            iziToast.error({
                title: name + ' عنوان اول اسلایدر را وارد کنید ',
                rtl: true,
                position: 'topLeft'
            });
            _PrimaryTitle.style.borderColor = "red";
            _submit.disabled = true;
        } else {
            _PrimaryTitle.style.borderColor = "green";
            _submit.disabled = false;
            if (_SecendaryTitle.value.length === 0) {
                iziToast.error({
                    title: name + ' عنوان دوم اسلایدر را وارد کنید ',
                    rtl: true,
                    position: 'topLeft'
                });
                _SecendaryTitle.style.borderColor = "red";
                _submit.disabled = true;
            } else {
                _SecendaryTitle.style.borderColor = "green";
                _submit.disabled = false;
            }
            if (_IsOk.value.length === 0) {
                iziToast.error({
                    title: name + ' وضعیت را وارد کنید ',
                    rtl: true,
                    position: 'topLeft'
                });
                _IsOk.style.borderColor = "red";
                _submit.disabled = true;
            } else {
                _IsOk.style.borderColor = "green";
                _submit.disabled = false;
            }
            if (_Url.value.length === 0) {
                iziToast.error({
                    title: name + ' لینک را وارد کنید ',
                    rtl: true,
                    position: 'topLeft'
                });
                _Url.style.borderColor = "red";
                _submit.disabled = true;
            } else {
                _Url.style.borderColor = "green";
                _submit.disabled = false;
            }
            if (_FileNameDesktop.value.length === 0) {
                iziToast.error({
                    title: name + ' عکس کامپیوتر را وارد کنید ',
                    rtl: true,
                    position: 'topLeft'
                });
                _FileNameDesktop.style.borderColor = "red";
                _submit.disabled = true;
            } else {
                _FileNameDesktop.style.borderColor = "green";
                _submit.disabled = false;
            }
            if (_FileNameMobile.value.length === 0) {
                iziToast.error({
                    title: name + ' عکس موبایل را وارد کنید ',
                    rtl: true,
                    position: 'topLeft'
                });
                _FileNameMobile.style.borderColor = "red";
                _submit.disabled = true;
            } else {
                _FileNameMobile.style.borderColor = "green";
                _submit.disabled = false;
            }

        }

    }
</script>





