@model IEnumerable<OrdersInventory.ViewModels.Inventory.VMProduct.ViewModelProductPropertyList>


@{

    <option value="00000000-0000-0000-0000-000000000000">--- سایز را انتخاب کنید ---</option>
    if (Model != null)
    {

        foreach (var list in Model)
        {
            <option value="@list.SizeRef">@list.SizeTitle</option>
        }
    }
    else
    {
        <option>انتخاب مقدار یافت نشده ...</option>

    }
}
