@using OrdersGeneral.Repository.General

<!-- .block-banner -->
<div class="block block-banner banner-mgb">
    <div class="container pd-20">
        @{
            var result = RepBanner.RepositoryMainBanner();
            if (result.Count > 0)
            {
                foreach (var item in result)
                {
                    <a href="" class="block-banner__body">
                        <div class="block-banner__image block-banner__image--desktop" style="background-image: url('@item.FileNameDesktop')"></div>
                        <div class="block-banner__image block-banner__image--mobile" style="background-image: url('@item.FileNameMobile"></div>
                        @*<div class="block-banner__title">
                صدها
                <br class="block-banner__mobile-br">ابزار دستی
            </div>
            <div class="block-banner__text">چکش ها، مته ها، انبرها، چاقوها، آچارها و اره ها</div>
            <div class="block-banner__button"><span class="btn btn-sm btn-primary">هم اکنون بخرید</span></div>*@
                    </a>
                }
            }
        }
        
    </div>
</div>
<!-- .block-banner / end -->
