
<section class="container-fluid copy">
    <div class="container p-0">
        <div class="row copy">
            <div class="col-md-12 col-12 p-0 c-right">
                <span>
                    ارائه شده توسط <a href="https://sepidyarhesab.com"> شرکت سپیدیارحساب آراد </a>
                </span>
            </div>
        </div>
    </div>
</section>