@using System.Web.Configuration


<!-- css -->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#95bf47">
@{

    <title>@ViewBag.Title</title>
}

@*<link href="~/Helper/Layouts/css/category.css" rel="stylesheet" />
        <link href="~/Helper/Layouts/css/main-category.min.css" rel="stylesheet" />
        <link href="~/Helper/Layouts/css/main-pro.min.css" rel="stylesheet" />
    <link href="~/Helper/Layouts/css/product.css" rel="stylesheet" />*@
<link href="~/Helper/Layouts/css/main.min.css" rel="stylesheet" />
<link href="~/Helper/Layouts/css/template.css" rel="stylesheet" />

@*<script src="~/Helper/Layouts/js/category-main.min.js"></script>*@
@*<script src="~/Helper/Layouts/js/gallery.js"></script>*@
<script src="~/Helper/Layouts/js/script.js"></script>
<script src="~/Helper/Layouts/js/main-min.js"></script>

