@using OrdersGeneral.Repository.General
<section class="container-fluid  sotial-footer">
    <div class="container p-0">
        <div class="row">
            <div class="col-md-5   ps-md-0 row-social">
                <ul class="p-0">
                    <li>با ما به روز باشید:</li>
                    @{
                        var querySocialMedia = RepSocialMedia.RepositorySocialMedia();
                        if (querySocialMedia.Count > 0)
                        {
                            foreach (var management in querySocialMedia)
                            {
                            }
                        }
                    }
                    <li>
                        <a href="#">
                            <span class="flip"><img src="/Helper/Layouts/images/whatsapp.png" alt="whatsapp"></span>
                            <span class="flop"><img src="/Helper/Layouts/images/whatsapp.png" alt="whatsapp"></span>
                        </a>

                    </li>
                    <li>
                        <a href="#">
                            <span class="flip"><img src="/Helper/Layouts/images/instagram.png" alt="instagram"></span>
                            <span class="flop"><img src="/Helper/Layouts/images/instagram.png" alt="instagram"></span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="flip"><img src="/Helper/Layouts/images/aparat.png" alt="aparat"></span>
                            <span class="flop"><img src="/Helper/Layouts/images/aparat.png" alt="aparat"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="flip"><img src="/Helper/Layouts/images/yotube.png" alt="yotube"></span>
                            <span class="flop"><img src="/Helper/Layouts/images/yotube.png" alt="yotube"></span>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col-md-7 col-12 pe-md-0 row-news-letter">
                <div class="row align-items-center">
                    <div class="col-md-6 col-12ps-md-0">
                        <div class="text-news d-block"> از آخرین تخفیف های ما مطلع شوید :</div>
                    </div>
                    <div class="col-md-6 col-12 pe-md-0">


                        @{

                            using (Html.BeginForm("NewsLetter", "Default", FormMethod.Post))
                            {
                                <form class="form" action="">
                                    <input class="input-border" type="text" id="Phone" name="Phone" placeholder="شماره موبایل">
                                    <button class="btn btn-news-letter ">عضویت</button>
                                </form>

                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
