<form class="search__form" action="/Product/Search" method="post">
    <input class="search__input" name="Search" id="Search" placeholder="جستجوی کالا کافیست کلمه کلیدی کالا را وارد کنید ..." aria-label="Site search" type="text" autocomplete="off">
    <button class="search__button" type="submit">
        <svg width="20px" height="20px">
            <use xlink:href="/Helper/Layouts/images/sprite.svg#search-20"></use>
        </svg>
    </button>
    <div class="search__border"></div>
</form>
