<form class="frm-search" action="/Product/Search" method="post">
    <input name="Search" id="Search" class="form-control" placeholder="محصول مورد نظر خود را جستجو کنید ..." aria-label="Site search" type="text" autocomplete="off">
    <button class="search__button button_bakcol" type="submit">
        <span class="img-search icon-slice"></span>
    </button>
</form>
