
@{
    ViewBag.Title = "خطا";
    Layout = "~/Views/Layouts/_MainLayouts.cshtml";
}

<div class="block">
    <div class="container">
        <div class="not-found">
            <div class="not-found__404">خطای لایسنس سایت</div>
            <div class="not-found__content">
                <h1 class="not-found__title">کاربر گرامی لایسنس سایت مورد تایید نمیباشد</h1>
                <p class="not-found__text">لطفا جهت استفاده از سایت با شماره تماس 09120448735 تماس حاصل فرمایید
                <p class="not-found__text">یا برای شروع مجدد به صفحه خانه بروید.</p><a class="btn btn-secondary btn-sm" href="/Default">رفتن به صفحه خانه</a></div>
        </div>
    </div>
</div>

