
<div class="row text-center">
    <div class="col-12">
        <div class="copy-right" dir="ltr">
            ارائه شده توسط <a href="https://sepidyarhesab.com"> شرکت سپیدیارحساب آراد </a>
        </div>
    </div>
</div>