@using OrdersGeneral.Repository.General

<!-- .block-features -->

<div class="services row mb-5">
    @{
        var result = RepServices.RepositoryMainServices();
        if (result.Count > 0)
        {
            foreach (var item in result)
            {
                <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                    <div class="service-item">
                        <img src="@item.FileName" alt="@item.PrimaryTitle">
                        <div class="service-item-body">
                            <h6>@item.PrimaryTitle</h6>
                            <p>@item.SecendryTitle</p>
                        </div>
                    </div>
                </div>
            }
        }
    }

</div>
