@using System.Configuration
@using OrdersGeneral.Repository.General


<link href="~/Helper/Layouts/Fa/css/whatsapp.css" rel="stylesheet" />
<div class="wa__btn_popup">
    <div class="wa__btn_popup_txt">
        @{
            var spell = ConfigurationManager.AppSettings["CallWhatsAppText"];
        }
        @spell
    </div>
    <div class="wa__btn_popup_icon"></div>
</div>


<div class="wa__popup_chat_box">
    <div class="wa__popup_heading">
        <div class="wa__popup_title">مشاوره خود را آغاز کنید</div>
        <div class="wa__popup_intro">
            ما 24 ساعته آماده پاسخگویی به شما عزیزان هستیم :)
            <div id="\&quot;eJOY__extension_root\&quot;"></div>
        </div>
    </div>
    <!-- /.wa__popup_heading -->
    <div class="wa__popup_content wa__popup_content_left">
        <div class="wa__popup_notice">یک واحد را انتخاب کنید</div>


        <div class="wa__popup_content_list">

            @{
                var result = RepWhatsApp.RepositoryWhatsAppManagement();
                if (result.Count > 0)
                {
                    foreach (var item in result)
                    {
                        <div class="wa__popup_content_item ">
                            <a target="_blank" href="@item.Code" class="wa__stt wa__stt_online">
                                <div class="wa__popup_avatar">
                                    <img src="@item.FileName" alt="profile" style="width: 50px; height: 50px" />
                                </div>
                                <div class="wa__popup_txt">
                                    <div class="wa__member_name"> @item.PrimaryTitle</div>
                                    <!-- /.wa__member_name -->
                                    <div class="wa__member_duty"> @item.SecondaryTitle</div>
                                    <!-- /.wa__member_duty -->
                                </div>
                                <!-- /.wa__popup_txt -->
                            </a>
                        </div>
                    }
                }
            }



        </div>



        <!-- /.wa__popup_content_list -->
    </div>
    <!-- /.wa__popup_content -->
</div>