
<form action="/Product/Search" method="post">
    <input type="text" name="Search" id="Search" placeholder="نام محصول را جستجو کنید..." aria-label="Site search"  autocomplete="off">
    <button type="submit">
        <i class="far fa-search"></i>
    </button>
</form>