
@using OrdersSettings.Repository.Settings


    <div class="mobile-header mobile-header--sticky mobile-header--stuck" id="navbar_mobile">
        <div id="#navbar_mobile" class="mobile-header__panel">
            <div class="container">
                <div class="mobile-header__body">
                    <button class="mobile-header__menu-button">
                        <svg width="18px" height="14px">
                            <use xlink:href="/Helper/Layouts/Images/sprite.svg#menu-18x14"></use>
                        </svg>
                    </button>
                    @{
                        var logomin = Repfooter.RepInformationFooter();
                        if (logomin.Count > 0)
                        {
                            foreach (var item in logomin)
                            {

                                <a class="mobile-header__logo" href="/Default">
                                    <img src="@item.FileName2" alt="@item.PrimaryTitle" style="width: 100%" />
                                </a>

                            }
                        }
                    }

                    <div class="mobile-header__search">
                        <form class="mobile-header__search-form" action="/Product/Search" method="post">
                            <input class="mobile-header__search-input" name="Search" id="Search" placeholder="برای جستجوی کالا کلمه کلیدی کالا را وارد کنید ..." aria-label="Site search" type="text" autocomplete="off">
                            <button class="mobile-header__search-button mobile-header__search-button--submit" type="submit">
                                <svg width="20px" height="20px">
                                    <use xlink:href="/Helper/Layouts/Images/sprite.svg#search-20"></use>
                                </svg>
                            </button>
                            <button class="mobile-header__search-button mobile-header__search-button--close" type="button">
                                <svg width="20px" height="20px">
                                    <use xlink:href="/Helper/Layouts/Images/sprite.svg#cross-20"></use>
                                </svg>
                            </button>
                            <div class="mobile-header__search-body"></div>
                        </form>
                    </div>
                    <div class="mobile-header__indicators">
                        <div class="indicator indicator--mobile-search indicator--mobile d-sm-none">
                            <button class="indicator__button"><span class="indicator__area"><svg width="20px" height="20px"><use xlink:href="/Helper/Layouts/Images/sprite.svg#search-20"></use></svg></span></button>
                        </div>
                        <div class="indicator indicator--mobile"><a href="/Carts" class="indicator__button"><span class="indicator__area"><svg width="20px" height="20px"><use xlink:href="/Helper/Layouts/Images/sprite.svg#cart-20"></use></svg> <span class="indicator__value" id="shopcarts2">0</span></span></a></div>

                    </div>
                </div>
            </div>
        </div>
    </div>