@using OrdersInventory.Repository.Inventory

@{
    if (Model != null)
    {
        var rep = new RepProducts();

        <div class="product__footer">
                <div class="product__tags tags">
                    <div class="tags__list"><a>@Model.SecondaryTitle</a></div>

                </div>
                <div class="product__share-links share-links">
                    <ul class="share-links__list">
                        <li class="share-links__Model share-links__Model--type--like"><a href="">پیامک</a></li>
                        <li class="share-links__Model share-links__Model--type--tweet"><a href="">واتس آپ</a></li>
                        <li class="share-links__Model share-links__Model--type--counter"><a href="">ایمیل</a></li>
                        <li class="share-links__Model share-links__Model--type--pin "><a class="color" h>کپی لینک</a></li>

                    </ul>
                </div>
                <script>
                    var color = document.querySelectorAll('.color') //DOM selector

                    //Loop through all elements and attaching event listener
                    color.forEach(el => {
                        el.addEventListener('click', copyText)
                    })

                    // function for selecting the text of an element based on the event.target (supporting IE)
                    function selectText() {
                        var element = event.target
                        var range;
                        if (document.selection) {
                            // IE
                            range = document.body.createTextRange();
                            range.moveToElementText(element);
                            range.select();
                        } else if (window.getSelection) {
                            range = document.createRange();
                            range.selectNode(element);
                            window.getSelection().removeAllRanges();
                            window.getSelection().addRange(range);
                        }
                    }

                    // function for copying selected text in clipboard
                    function copyText() {
                        selectText();
                        alert('Color code ' + event.target.innerText + ' copied in clipboard')
                        document.execCommand("copy");
                    }
                </script>


            </div>
        
    }
}
