
@{
    ViewBag.Title = "ورود به حساب کاربری";
    Layout = "~/Views/Layouts/_MainLayouts.cshtml";
}




<div class="page-header">
    <div class="page-header__container container">

        <div class="page-header__title">
            <div class="card mt-3">
                <h5 class="p-3">ورود به حساب کاربری</h5>
            </div>
        </div>
    </div>
</div>
<div class="block">
    <div class="container">
        <div class="card mb-0">
            <div class="card-body contact-us">
                <div class="contact-us__container">
                    <div class="row text-left btn btn-warning" dir="ltr" style="color: white !important">
                        <a href="javascript:void(0);" style="color: white !important" onclick="javascript:introJs().start();"> <i class="fas fa-question"></i> راهنما ورود کد یکبار مصرف در سایت </a>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-12">

                            @using (Html.BeginForm("Verify", "Verify", FormMethod.Post))
                            {
                                if (Session["LoginData"] != null)
                                {
                                    var dt = Session["LoginData"].ToString();
                                    var sp = dt.Split('&');

                                    <input type="hidden" name="userRef" id="userRef" value="@sp[0]">
                                    <input type="hidden" name="oldCode" id="oldCode" value="@sp[1]">
                                }

                                <script>
                                    var timeleft = 20;
                                    var downloadTimer = setInterval(function () {
                                        if (timeleft <= 0) {
                                            clearInterval(downloadTimer);
                                            document.getElementById("btnTry").disabled = false;
                                        }
                                        document.getElementById("progressBar").value = 10 - timeleft;
                                        timeleft -= 1;
                                    }, 1000);
                                </script>
                                <script>
                                    function trysend() {
                                        document.getElementById("btnTry").disabled = true;
                                        window.location.href = "/Verify/Try";
                                    }
                                </script>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="form-name">کد دریافتی پیامک شده : </label>
                                        <input type="number" id="code" name="code" class="form-control" placeholder="کد پیامک شده را وارد کنید" onchange="allnumeric(this);" data-step="1" data-intro="در این قسمت شماره موبایل خود را با کیبورد لاتین وارد کنید">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <progress style="width: 100%" value="0" max="10" id="progressBar"></progress>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-9">
                                        <button type="submit" class="btn btn-primary btn-block">ورود به حساب کاربری</button>

                                    </div>
                                    <div class="form-group col-md-3">
                                        <button disabled="disabled" id="btnTry" class="btn btn-primary btn-block" onclick="trysend();">ارسال مجدد کد یکبار مصرف</button>
                                    </div>
                                </div>
                            }

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


