@font-face {
    font-family: Shabnam;
    src: url("/Helper/Layouts/assets/fonts/shabnam/Shabnam.eot");
    src: url("/Helper/Layouts/assets/fonts/shabnam/Shabnam.eot?#iefix") format("embedded-opentype"), url("/Helper/Layouts/assets/fonts/shabnam/Shabnam.woff2") format("woff2"), url("/Helper/Layouts/assets/fonts/shabnam/Shabnam.woff") format("woff"), url("/Helper/Layouts/assets/fonts/shabnam/Shabnam.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Shabnam;
    src: url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Bold.eot");
    src: url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Bold.eot?#iefix") format("embedded-opentype"), url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Bold.woff2") format("woff2"), url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Bold.woff") format("woff"), url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: Shabnam;
    src: url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Thin.eot");
    src: url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Thin.eot?#iefix") format("embedded-opentype"), url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Thin.woff2") format("woff2"), url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Thin.woff") format("woff"), url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: Shabnam;
    src: url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Light.eot");
    src: url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Light.eot?#iefix") format("embedded-opentype"), url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Light.woff2") format("woff2"), url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Light.woff") format("woff"), url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: Shabnam;
    src: url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Medium.eot");
    src: url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Medium.eot?#iefix") format("embedded-opentype"), url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Medium.woff2") format("woff2"), url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Medium.woff") format("woff"), url("/Helper/Layouts/assets/fonts/shabnam/Shabnam-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: DimaMolsaq;
    src: url("/Helper/Layouts/assets/fonts/DimaMolsaq/DimaMolsaq.woff") format("woff");
    font-weight: 500;
}


@page {
    size: A4 landscape;
    margin: 30px;
    margin-bottom: 0.5cm;
    margin-top: 0.5cm;
    max-width: 29.7cm;
    width: 29.7cm;
}

.page {
    font-family: Shabnam;
    background: white;
    page-break-after: always;
}
html, body {
    font-family: Shabnam;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    max-width: 29.7cm;
    -webkit-print-color-adjust: exact;
}

.font-name {
    font-family: Shabnam !important;
}


body {
    font-family: Shabnam;
    padding: 0.5cm
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.table td, .table th {
    padding: 0.35rem !important;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}