@using OrdersInventory.Repository.Inventory


<div class="row mb-5">
@{
    var repp = new RepProducts();

    var result = repp.RepositoryMainCategoreisDefault();
    if (result.Count > 0)
    {
        foreach (var catecoreis in result)
        {
            <div class="col-md-3 col-6 mb-lg-0 mb-3">
                <div class="banner">
                    <a href="@catecoreis.Url">
                        <img src="@catecoreis.FileName" alt="@catecoreis.PrimaryTitle">
                    </a>
                </div>
            </div>
        }
    }
}

    
</div>