        <!-- addAddressModal -->
<div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAddressModalLabel">راهنمای سایز</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 center-block">
                        <img src="~/Helper/Layouts/assets/img/Images-Szie.jpg" style="width: 100%"  />
                    </div>
                </div>
                <form action="#">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <table class="table  text-center mb-0">
                                <tbody>
                                <tr class="pr_price">
                                    <td class="row_title" style="width: 30px">سایز</td>
                                    <td class="row_title" style="width: 30px">طول کف پا - سانتی‌متر</td>
                                </tr>

                                <tr class="pr_price">
                                    <td class="row_title">36</td>
                                    <td class="row_title">22</td>
                                </tr>
                                <tr class="pr_price">
                                    <td class="row_title">36.5</td>
                                    <td class="row_title">22.5</td>
                                </tr>
                                <tr class="pr_price">
                                    <td class="row_title">37</td>
                                    <td class="row_title">23</td>
                                </tr>
                                <tr class="pr_price">
                                    <td class="row_title">37.5</td>
                                    <td class="row_title">23.5</td>
                                </tr>
                                <tr class="pr_price">
                                    <td class="row_title">38</td>
                                    <td class="row_title">24</td>
                                </tr>
                                <tr class="pr_price">
                                    <td class="row_title">38.5</td>
                                    <td class="row_title">24.5</td>
                                </tr>
                                <tr class="pr_price">
                                    <td class="row_title">39</td>
                                    <td class="row_title">25</td>
                                </tr>
                                <tr class="pr_price">
                                    <td class="row_title">39.5</td>
                                    <td class="row_title">25.5</td>
                                </tr>
                                <tr class="pr_price">
                                    <td class="row_title">40</td>
                                    <td class="row_title">26</td>
                                </tr>
                                <tr class="pr_price">
                                    <td class="row_title">40.5</td>
                                    <td class="row_title">26.5</td>
                                </tr>
                                <tr class="pr_price">
                                    <td class="row_title">41</td>
                                    <td class="row_title">27</td>
                                </tr>
                                <tr class="pr_price">
                                    <td class="row_title">42</td>
                                    <td class="row_title">27</td>
                                </tr>
                                <tr class="pr_price">
                                    <td class="row_title">43</td>
                                    <td class="row_title">29</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end addAddressModal -->