<!-- css -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@{

    <title>@ViewBag.Title</title>
}
<!-- font-awesome -->
<link rel="stylesheet" href="/Helper/Layouts/assets/css/font-awesome.min.css">
<!-- Bootstrap 4.5.3 -->
<link rel="stylesheet" href="/Helper/Layouts/assets/bootstrap/css/bootstrap.min.css">
<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="/Helper/Layouts/assets/css/plugins/apexcharts.css">
<link rel="stylesheet" href="/Helper/Layouts/assets/css/plugins/jquery.classycountdown.min.css">
<link rel="stylesheet" href="/Helper/Layouts/assets/css/plugins/nouislider.min.css">
<link rel="stylesheet" href="/Helper/Layouts/assets/css/plugins/sweetalert2.min.css">
<link rel="stylesheet" href="/Helper/Layouts/assets/css/plugins/select2.min.css">
<link rel="stylesheet" href="/Helper/Layouts/assets/css/plugins/swiper.min.css">
<!-- CSS Template -->
<link rel="stylesheet" href="/Helper/Layouts/assets/css/theme.css">
<!-- Here goes your custom.css -->
<!-- colors: amber,blue,brown,cyan,default,green,indigo,orange,pink,purple,red,teal,yellow -->
<link rel="stylesheet" href="/Helper/Layouts/assets/css/colors/default.css" id="colorswitch">
<link rel="stylesheet" href="/Helper/Layouts/assets/css/mmenu.css" />
<link rel="stylesheet" href="/Helper/Layouts/assets/css/whatsapp.css" />
<link href="~/Helper/Admin/Content/iziToast.min.css" rel="stylesheet" />
<link href="~/Helper/Layouts/assets/css/introjs.min.css" rel="stylesheet" />