
@using OrdersOrders.Repository.Orders

@{
    var id = User.Identity.Name;
    var RoleName = RepAccountDashboard.RoleName(Guid.Parse(id));

    <a href="#" class="logo">
        <span class="logo-mini">
            ادمین سایت
        </span>
        <span class="logo-lg">
            ادمین سایت
        </span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="/" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">تعویض منو</span>
        </a>
        <div class="navbar-custom-menu">
            <ul id="topleftnav" class="nav navbar-nav">
                <li class="dropdown messages-menu">
                    <a href="/admindashboard" target="_blank">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                @* <li class="dropdown messages-menu">
                        <a href="#" target="_blank">
                            <i class="fa fa-wordpress"></i>
                            <span class="hidden-xs">وبلاگ</span>
                        </a>
                    </li>*@
                @*<li class="dropdown messages-menu">
                        <a href="/Support.html">
                            <i class="fa fa-envelope-o"></i>
                            <span class="hidden-xs">پشتیبانی</span>
                        </a>
                    </li>*@

                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">مدیریت سایت</span>
                        <i class="fa fa-angle-down"></i>

                    </a>

                    <ul class="dropdown-menu">

                        @{

                            var query = RepAccountDashboard.RepAccountDashboardInformation(Guid.Parse(id));
                            if (query.Count > 0)
                            {
                                foreach (var item in query)
                                {

                                    <li class="user-header">
                                        <img src="@item.Note" class="img-circle" alt="مدیریت سایت">
                                        <p>
                                            @RoleName
                                            <small>

                                            </small>
                                        </p>

                                    </li>

                                }
                            }

                        }
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="/Dashboard" class="btn btn-default btn-flat">حساب کاربری</a>
                            </div>
                            <div class="pull-right">
                                <a href="/Login/SingOut" class="btn btn-default btn-flat">خروج</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
}