@using OrdersInventory.Repository.Inventory
@using OrdersOrders.Repository.Orders

@{
    ViewBag.Title = "AddSet";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}

<section class="content-header">
    <h2>داشبورد</h2>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-12 connectedSortable">
                <div class="box box-info">
                    @using (Html.BeginForm("AddSett", "ProductManagment", FormMethod.Post))
                    {
                        
                        <input type="hidden" value="@Session["SetId"].ToString()" name="Ref" id="Ref" />

                        <div class="box-header">
                            <i class="fa fa-envelope"></i>
                            <h3 class="box-title">افزودن ست جدید</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="ProductRef">محصول</label>
                                    <div class="col-md-4">
                                        <select class="form-control" id="ProductRef" name="ProductRef">
                                            @{
                                                var Product = RepDiscount.RepositoryProductsDropDown();

                                                foreach (var item in Product)
                                                {
                                                    <option selected="@(item.Code == "1" ? "selected" : string.Empty)" value="@item.Id">@item.PrimaryTitle</option>
                                                }
                                            }
                                        </select>
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-footer clearfix">
                            <div class="col-md-12 col-md-offset-9">
                                <button type="submit" class="btn btn-labeled bg-green-active"> <i class="fa fa-check-square"></i> ذخیره</button>
                                <a href="/ProductManagment/Set/@Session["SetId"]" class="btn btn-labeled bg-red-active"> <i class="fa fa-close"></i> بازگشت</a>
                            </div>
                        </div>
                    }

                </div>


            </div>
        </div>
    </div>
</section>

