@model IEnumerable<OrdersInventory.ViewModels.Inventory.VMProduct.ViewModelProductPropertyList>


@{


    if (Model != null)
    {

        foreach (var list in Model)
        {
            <option value="@list.SizeRef">@list.SizeTitle</option>
        }



    }
    else
    {
        <option>انتخاب مقدار یافت نشده ...</option>

    }



}
