@using OrdersGeneral.Repository.General

<!-- .block-slideshow -->
<div class="block-slideshow block-slideshow--layout--full block">
    <div class="container-fluit overflow">
        <div class="row">
            <div class="col-12">
                <div class="block-slideshow__body">
                    <div class="owl-carousel">
                        @{
                            var result = RepSliders.RepositoryMainSliders();
                            if (result.Count > 0)
                            {
                                foreach (var item in result)
                                {
                                    <a class="block-slideshow__slide" href="">
                                        <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop" style="background-image: url('@item.FileNameDesktop')"></div>
                                        <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile" style="background-image: url('@item.FileNameMobile')"></div>
                                    </a>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .block-slideshow / end -->
