:root {
    /* --DefaultThemeColor: radial-gradient(circle, rgba(239,225,138,1) 0%, rgba(237,223,128,1) 50%, rgba(171,135,58,1) 100%); */
    /* --DefaultThemeColor: linear-gradient(280deg, rgba(20,38,89,1) 0%, rgba(42,75,210,1) 50%, rgba(47,84,240,1) 100%); */
    --DefaultThemeColor: linear-gradient(280deg, rgba(20,38,89,1) 0%, rgba(42,75,210,1) 50%, rgba(47,84,240,1) 100%);
    --DefaultThemeColorHover: rgba(42,75,210,1);
    --DefaultThemeColorHoverSecendry: #e3122a;
    /* --DefaultThemeColor: #ffd333; */
    --DefaultTextColor: #FFF;
    --DefaultTextColorHover: #FFF;
    --DefaultTextCustomColor: #3d464d;
    --DefaultBackCustomColor: #FFF;
    /* --DefaultBackCustomColor: #eff1f5; */
    --DefaultBackDivCustomColor: #FFF;
}