.service-style {
    margin-bottom: 0px !important;
    background: #f5f5f5;
    padding: 35px 0;
}

.footer-mgt {
    margin-top: 0!important
}
.footer-bkc {
    background: #eff0f0;
}
.banner-mgb {
    margin-bottom: 90px!important
}



